.header {
  margin: 0 30px;
  /* background-image: url(../pictures/pexels-jéshoots-238118.jpg); */
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  min-height: 25rem;
  text-align: left;
  padding: 80px 80px;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.header p {
  line-height: 18px;
  font-size: medium;
  white-space: pre-line;
}
.header h2 {
  margin: 0;
}
.header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: black;
  padding: 9px 18px;
}
.header a:hover {
  text-decoration: underline white 1.5px;
}

.header-link {
  margin-top: 40px;
}

.text {
}
